<h2>Add New Primary Alcohol</h2>

<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-controler' %><br />
  </div>

  <%= f.submit, class:'btn btn-primary' %>
  <%= link_to "Cancel", categories_path, class:'btn btn-default' %>

<% end %>